<!-- <body> -->
<!-- <div class="star-padding container"> -->
<nav class="level">
</nav>

<body id='sepia'>
</body>

<div class="container">
  <div class="notification" style="background-color: #ffffff; opacity: 0.7; filter: alpha(opacity=60);">
  <h1 class="title is-1">Zodiac Signs</h1>
    <ul>
      <% @zodiacs.each do |zodiac| %>
        <li class ="is-size-4"><%= link_to zodiac.sign, zodiac_path(zodiac) %></li>
      <% end %>
    </ul>
    <br/><br/>
    <%= link_to 'Enter Your Info ↣', new_user_path %>
  </div>
</div>
