<div class='background-zod'>
    <h1>Zodiac Signs</h1>
    <div class="index">
      <ul>
        <% @zodiacs.each do |zodiac| %>
          <li><%= link_to zodiac.sign, zodiac_path(zodiac) %></li>
        <% end %>
      </ul>

      <button type="button" class="btn btn-primary">Primary</button>

    </div>
    </div>
