<body>
<div class="star-padding container">


  <h1 class="title is-1">Zodiac Signs</h1>

  <div class="index">
    <ul>
      <% @zodiacs.each do |zodiac| %>
        <li><%= link_to zodiac.sign, zodiac_path(zodiac) %></li>
      <% end %>
    </ul>
  </div>
</body


<body id='sepia'>
</body>
