<div class='background-zod'>
    <h1>Zodiac Signs</h1>
    <body id='zodiac-page'>
    </body>
    <div class="index">
      <ul>
        <% @zodiacs.each do |zodiac| %>
          <li class="is-white"><%= link_to zodiac.sign, zodiac_path(zodiac) %></li>
        <% end %>
      </ul>

    </div>
    </div>
