/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


h1 {
  color: white;
}

.star-padding {
   padding-top: 5vh;
   background: #d2bcab
 }


#home-title {
  /* font-family: "BigBlueRough", sans-serif;  */
  /* font: "Times New Roman", sans-serif; */
  opacity: 0.7;
  color: orange;
  filter: alpha(opacity=60);"
}
 @font-face { font-family: 'Big Blue Rough'; src: url('./Big-Blue-Rough.otf'); }
@font-face { font-family: 'Big Blue Rough'; font-weight: bold; src: url('./Big-Blue-Rough.otf');}


 #main-page {
  /* background-image: url('https://assets.rbl.ms/13464323/980x.jpg'); */
  background-image: url('./pics/sepia_globe4.jpeg');
  background-size: cover;
  height: 100vh;
 }

 .header {
   font-family: 'Permanent Marker', cursive;
   font-size: 50px;
   padding-left: 2.5em;
   padding-top: 3.5em;
 }

 .header:hover {
   color: blue
 }

   #sepia {
   background: url('https://uc25cc768c80a1db10c918e296d8.previews.dropboxusercontent.com/p/thumb/AAQFxyOl7uSN_Cv8CZUz9K0SD3bdCp-T5DbagfWeEyKj69YpzVdV1YLxQrTzJCeD--LZj3UXa1Pb5DkHBBD9Tfvke4LsCcvA9Npt8KMAlaW5vv3uwvmIOTWICWhf0q11tSsx-pFA-B5LKqjubCRd0Uz_-qYk0XhbUPasXh3Ni98NUI2bN8-cnew3svIuDWaADSkAqBBAelfSEFdS5oWhkB9BD9Whub7hzutzlnBLGLlK1Q/p.jpeg?size=2048x1536&size_mode=3');
   /* background-size: cover;
     height: 100vh; */
     min-height: 100%;
min-width: 1024px;

/* Set up proportionate scaling */
width: 100%;
height: auto;

/* Set up positioning */
position: fixed;
top: 0;
left: 0;
}
 }

 /* div.transbox {

   background-color: #ffffff;

   opacity: 0.7;
   filter: alpha(opacity=60); /* For IE8 and earlier */
  /* width:30%;
  Height:300px;
 } */
/*
 div.transbox p {

   font-weight: bold;
   color: #000000;
 } */ */
