/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .star-padding {
   padding-top: 5vh;
 }

 #main-page {
  background-image: url('https://assets.rbl.ms/13464323/980x.jpg');
  background-size: cover;
  height: 100vh;
 }


#zodiac-page {
  background-image: url('https://previews.dropbox.com/p/thumb/AASEDVue9BRzFibclyIpMCSjUby9EBuKu7IuGOXxfnnhV2JHbmyGFz7pnrzIrPuS9KU0DkAysx8nTksM-WYF6lFqSddqAjxoC17mkGOG67xKdJScmBhY1b9HWrxKknm8KJhhjVExK041X66JbrumAOVVutG7iwS2sMKos6Wk7RvIVdn8BY5JXx0D9mEtwIdsiByGJB0mRXoj_bmeq2-4epDrp9jTA3ywrLN-Dy04u6SacA/p.jpeg?size=2048x1536&size_mode=3');
  background-size: cover;
  height: 100vh;
}

 .is-white {
   font-family: 'Federo', sans-serif;
   font-weight: bold;

 }
