<<<<<<< HEAD

    <div class='header'>
      <h1 id="main-page-title">Star Mapper</h1>
    </div>
    <p><%= link_to "What's Your Sign?", new_user_path %></p>
=======
<%= link_to 'ENTER', zodiacs_path %>
>>>>>>> c770dbb6178c45e0aacbaff72d09cb7b5aebad39
