<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class='header'>
      <h1 id="main-page-title">Star Mapper</h1>
    </div>
    <p><%= link_to "What's Your Sign?", new_user_path %></p>
  </body>
</html>
