<!-- <div class="star-padding container"> -->
<link rel="stylesheet" href="/app/stylesheets/application.css">

<nav class="level">
</nav>

<body id='sepia'>
</body>

  <div class="container">
    <div class="notification" style="background-color: #ffffff; opacity: 0.7; filter: alpha(opacity=60);">
      <h1 class="title is-1">See all Locations</h1>
      <% @locations.each do |location| %>
        <h4 class="title is-4"><%= link_to location.name, location_path(location) %><br><br>
      <% end %>
    </div>
  </div>
