<div class="star-padding container">
<link rel="stylesheet" href="/app/stylesheets/application.css">

<h1 class="title is-1">See all Locations</h1>
<body id='sepia'>

  <!-- <div id="background">

  </div> -->

  <div class="index">
    <ul>
    <% @locations.each do |location| %>
      <li class="lists"><%= link_to location.name, location_path(location) %></li>
    <% end %>
    </ul>
  </div>
</body>
