<div class="star-padding container">
<link rel="stylesheet" href="/app/stylesheets/application.css">

<h1 class="title is-1">See all Locations</h1>
<body id='sepia'>
</body>
  <div id="background">

  </div>

  <div class="index">
    <% @locations.each do |location| %>
      <%= link_to location.name, location_path(location) %><br><br>
    <% end %>
  </div>
