<h1><%= @location.name %></h1>

<p>All Users from <%= @location.name %>: </p>
  <ul>
    <% @location.users.each do |user| %>
      <li><%= link_to user.name, user_path(user) %> -- <%= user.zodiac.sign %></li>
    <% end %>
  </ul>
</p>

<!-- link_to user.name, user_path(@location.user) -->
