<h1><%= @location.name %></h1>

<p>
  <ul>
    All Users from <%= @location.name %>: <br>
      <% @location.users.each do |user| %>
        <li><%= link_to user.name, user_path(user) %></li>
      <% end %>
  </ul>

</p>

<!-- link_to user.name, user_path(@location.user) -->
